---
layout: default
title: Home
---

{% for section in "about,hobbies" | split: "," %}
  {% capture md %}{% include sections/{{ section }}.md %}{% endcapture %}
  <section class="{{ section }}">
    {{ md | markdownify }}
  </section>
{% endfor %}

<section class="writing">
  <h2>Rants and Rambles</h2>
  <ul>
    {% for post in site.posts %}
      <li>
        <span>{{ post.date | date: "%d %b %Y" }}</span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>