---
layout: default
---

<article class="post">
  <h2 class="post-title">{{ page.title }}</h2>

  <p class="post-date">
    <small>
      Published: {{ page.path | git_first_commit_date | date: "%-d %B %Y" }}
    </small>

    {% if page.last_modified_at %}
      {% assign published = page.path | git_first_commit_date %}
      {% if page.last_modified_at != published %}
        <span class="last-updated">
          Updated: {{ page.last_modified_at | date: "%-d %B %Y, %H:%M" }} UTC
        </span>
      {% endif %}
    {% endif %}
  </p>

  {{ content }}

  <p><a href="{{ '/' | relative_url }}" class="back-home">← Back to Home</a></p>
</article>